<mat-card>
    <div class="form">

        <h2>Options diverses</h2>
        <mat-slide-toggle
            color="primary"
            [checked]="playSound"
            (change)="changeSoundOption()"
        >
            Jouer le son lors d'un Krash
        </mat-slide-toggle>

        <h2>Actions générales</h2>
        <button mat-raised-button color="warn" (click)="clickOnCleanHistory()">
            Effacer l'historique
        </button>
        <p>
            Permet de supprimer l'historique de toutes les modifications passées
            et de ne garder que la carte actuelle.
            <br />
            <strong>Attention, ne demande pas encore de confirmation.</strong>
        </p>
    </div>
</mat-card>
