<app-krash-page [title]="'HOME'">
    <app-krash-presentation></app-krash-presentation>
    <div class="page-div">
        <div *ngIf="!isAuth" class="no-auth-div">
            <app-login-form *ngIf="displayedForm == 'login'"></app-login-form>
            <app-register-form
                *ngIf="displayedForm == 'register'"
            ></app-register-form>
            <button mat-button color="primary" (click)="switchForm()">
                {{ switchBtnText }}
            </button>
        </div>
        <div *ngIf="isAuth" class="auth-div">
            <h1>Bienvenue !</h1>
            // dash board there ?
        </div>
    </div>
</app-krash-page>
