:host {
    display: contents;
}
.page-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
