<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-card class="">
        <mat-card-header>
            <mat-card-title>Connexion</mat-card-title>
        </mat-card-header>

        <mat-card-content class="content-div">
            <!-- login-->
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    name="email"
                    id="email"
                    formControlName="email"
                    type="email"
                    autocomplete="off"
                    placeholder="jean.dupont@mail.fr"
                    required
                />
                <mat-error *ngIf="email && email.invalid">
                    {{ getMessageError(email) }}
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="standard">
                <mat-label>Mot de Passe</mat-label>
                <input
                    matInput
                    name="password"
                    id="password"
                    formControlName="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    autocomplete="off"
                    placeholder="******"
                    required
                />

                <mat-error *ngIf="password && password.invalid">
                    {{ getMessageError(password) }}
                </mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="actions-div">
            <button
                mat-flat-button
                type="submit"
                color="primary"
                [disabled]="this.loginForm.invalid"
            >
                Connexion
            </button>
        </mat-card-actions>
    </mat-card>
</form>
