$color-primary: #1f9482;

* {
    --color-primary-light: #2cb9a6;
    --color-primary: $color-primary;
    --color-primary-dark: #167a6b;

    --color-gray-01: #f0f0f0;
    --color-gray-02: #dcdcdc;
    --color-gray-03: #c8c8c8;
    --color-gray-04: #b4b4b4;
    --color-gray-05: #a0a0a0;

    --color-white: #fff;
    --color-black: #000;
}
