// Bootstrap class
.navbar-nav {
    flex: 1;
}

.FakeNavbar-brand {
    color: transparent;

    &-icon {
        background-color: rgba(0, 0, 0, 0.4);
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

}
