.dashboard-item {
    display: flex;
    flex-direction: column;

    &-icon {
        flex: 1;
    }

    &-name {
        height: 25px;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        justify-items: center;
        align-items: center;
    }

    &-actions {
        height: 20px;
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
    }
}
